<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h2>Quiz: What is your Favourite colour?</h2>
    <form action="createpost" method="POST">
          <label>Name</label>
          <input type="text" name="name" id="name" required>
          <label>Email</label>
          <input type="text" name="email" id="email" required>
          <label>Favourite Colour</label>
          <input type="text"  name="answer" id="answer" required>
          <button type="submit">Submit</button>
    </form>
</body>
</html>